{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'Blog/post_details.css' %}"/>
</head>
<body>
<section>
    <div class="image-container">
        <img src=" {% static 'Blog/'|add:allPosts.image %} " alt="{{ allPosts.title }}">
    </div>

    <div class="content container">
        <h2>Title: {{post.title}}</h2>
        <h4>content: {{post.content}} </h4>
        <h4>Detail: {{post.detail|default:"no details available."}} </h4>
        <h4>Post: {{ post.slug }}</h4>
    </div>
</section>
</body>
</html>

